{% extends "base.html" %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    {% if data %}
      
  <div class="container mx-auto mt-8 px-4">
    <h2 class="text-3xl font-semibold mb-6">My Profile</h2>
    <div class="bg-white rounded-lg shadow-md p-6">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2 pr-6">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold mb-2">Name</h3>
                    <p class="text-gray-700">{{ data.name }}</p>
                </div>
                <div class="mb-4">
                    <h3 class="text-xl font-semibold mb-2">Email</h3>
                    <p class="text-gray-700">{{ data.email }}</p>
                </div>
                <div class="mb-4">
                    <h3 class="text-xl font-semibold mb-2">Phone</h3>
                    <p class="text-gray-700">{{ data.phone }}</p>
                </div>
            </div>
            <div class="md:w-1/2">
                <div class="mb-4">
                    <h3 class="text-xl font-semibold mb-2">About</h3>
                    <p class="text-gray-700">{{ data.about }}</p>
                </div>
                <div class="mb-12">
                    <h3 class="text-xl font-semibold mb-2">Education</h3>
                    <p class="text-gray-700">{{ data.education }}</p>
                </div>
                <a href="{% url 'update_profile' pk=data.id %}" class="bg-cyan-500 text-white p-2 rounded-md">Update Profile</a>
                <!-- Add fields for other profile attributes here -->
            </div>
        </div>
    </div>
</div>
    {% else %}
        <div class="text-center mt-10">
            <h3 class="text-xl font-bold mb-5">Your profile is not update</h3>
            <a href="{% url 'create_profile' %}" class="bg-cyan-500 text-white p-2 rounded-md">Create Profile</a>
        </div>
    {% endif %}
  
{% endblock content %}