{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load tailwind_filters%}

{% block title %}
  Update Profile
{% endblock title %}

{% block content %}
    <div class="w-[70%] mx-auto mt-4">
        <h3 class="font-bold text-2xl text-center">Update Profile</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Update" class="bg-cyan-700 text-white p-2 rounded-md">
        </form>
    </div>

{% endblock content %}