<!DOCTYPE html>
{% load static %}
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
      Home
   {% endblock title %}</title>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <nav class="p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-gray-700 font-bold text-xl">WORK LINK</a> <div class="hidden md:flex space-x-4">
          <a href="{% url 'home' %}" class="text-gray-700">Home</a>
            <a href="" class="text-gray-700">Blog</a>
            <a href="{% url 'price_plan' %}" class="text-gray-700">Price plan</a>
            
            <!-- <a href="" class="text-gray-700">Profile</a> -->
            {% if register_info.candidate %}
             <div class="relative group">
                <button class="text-gray-700 focus:outline-none">
                  {% if payment_info.plan == 'Basic' %}
                    <span class="bg-green-500 text-white text-sm p-1 rounded-md">{{payment_info}}</span> 
                  {% elif payment_info.plan == 'Premium' %}
                    <span class="bg-amber-500 text-white text-sm p-1 rounded-md">{{payment_info}}</span> 
                  {% else %}
                    <span class="bg-gray-500 text-white text-sm p-1 rounded-md">Free</span> 
                  {% endif %}
                   Profile
                    <svg class="w-4 h-4 inline-block ml-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M10 12l-6-6h12z" />
                    </svg>
                </button>
                <ul class="absolute hidden  bg-white text-gray-800 border border-gray-200 py-2 w-32 z-40 group-hover:block">
                    <li><a href="{% url 'profile' %}" class="block px-4 py-2 hover:bg-gray-200">
                      Profile
                    </a></li>
                    <li><a href="{% url 'apply_job_list' %}" class="block px-4 py-2 hover:bg-gray-200">My applied job</a></li>
                </ul>
            </div> 
            {% else %}
              {% if request.user.is_authenticated %}
                <a href="{% url 'job_post' %}" class="text-gray-700">Dashboard</a>
              {% endif %}
            {% endif %}
            

            {% if not request.user.is_authenticated %}
              <a href="{% url 'signup' %}" class="text-gray-700">Signup</a>
              <a href="{% url 'login' %}" class="text-gray-700">Login</a> 
            {% else %}
              <a href="{% url 'logout' %}" class="text-gray-700">Logout</a>
            {% endif %}
        </div>
        <div class="md:hidden">
          <button class="text-white" id="btn">
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </nav>
   
    
    {% block content %}{% endblock content %}
</body>
</html>