{% extends "dashboard/base.html" %} 
{% block title %} Candidate jobs {% endblock title %} 

{% block content %}
<div class="ml-10 mt-7">
  <h3 class="font-bold text-2xl text-center">Applied jobs</h3>

  <div class="container pr-7 mt-4">
    <table class="min-w-full bg-white rounded-lg overflow-hidden">
      <!-- Table Header -->
      <thead class="bg-gray-200 uppercase text-sm text-gray-600">
        <tr>
          <th class="py-3 px-6 text-left">Username</th>
          <th class="py-3 px-6 text-left">Applied job link</th>
          <th class="py-3 px-6">Resume</th>
          <th class="py-3 px-6 text-center">Action</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody class="text-gray-600 text-sm font-light">
        {% for item in data %}
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">Username</td>
          <td class="py-3 px-6 text-center">
            job link
          </td>
          <td class="py-3 px-6 text-center">Resume</td>
          <td class="text-center">
            <a href="" class="text-white bg-red-600 rounded-md p-1">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}